<!--The content below is only a placeholder and can be replaced.-->

<app-menu>

</app-menu>

<!-- <div class= "static-top"> 
<h1>This is my first NG project!</h1>
<h2>{{title}}</h2>
</div>

<app-registeruser></app-registeruser>

You have clicked the button {{counter}} times.

<button (click)="increaseCounter();">Click me!</button> -->
<div class="container-fluid">
<router-outlet></router-outlet>
</div>

<!-- 
    1. create component
    2. register the route (user/login)
    3. put a link in the menu
    4. create the template
 -->